.content-image img {
  height: 700px;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #0196C1;
}

.header-subtitle {
  font-size: 1.3rem;
  font-weight: 300;
}

.nav-link {
  font-size: 2rem;
  font-weight: bold;
  color: #BDBDBD;
}

.active {
  font-size: 2rem;
  font-weight: bold;
  color: #0196C1;
}
