<div class="container">
  <div class="row justify-content-center mt-5">
      <div class="version-header col-md-3 col-sm-12 my-auto">
        <h2 class="header-title">PRO VERSION</h2>
        <p class="header-subtitle mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, at ipsam nesciunt ipsum voluptatum, architecto optio tempora eum saepe doloribus nisi animi fugit quo quos laudantium veritatis dignissimos. Aliquid, qui?</p>
      </div>
      <div class="version-content col-md-4 col-sm-12">
        <div class="content-image px-3">
          <img src="assets/images/stock_app.png" class="img-fluid mb-4" alt="Example image" loading="lazy">
        </div>
      </div>
      <div class="col-md-3 col-sm-12 my-auto">
        <ul class="version-nav nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-end" routerLink="/pages/home/lite" routerLinkActive="active">LITE Version</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-end" routerLink="/pages/home/pro" routerLinkActive="active">Pro Version</a>
          </li>
        </ul>
      </div>
  </div>
</div>
