.hero-title {
  color: #0196C1;
  font-size: 3rem;
}

.hero-subtitle{
  font-size: 1.5rem;
  font-weight: 400;
}

.hero-image img {
  height: 700px;
}
.hero-transition {
  height: 400px;
  margin-top: -400px;
  background-color: #cbeaf4;
}
