<div class="container px-4 pt-5 my-5 text-center" id="about">
  <h1 class="about-title display-4 fw-bold mb-5">Tentang Kami</h1>
  <div class="col-lg-10 mx-auto">
    <p class="about-subtitle lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita magni voluptatum ducimus, dicta sequi vitae modi iure, rerum id illo repellat dolorem error impedit quae sit dolor assumenda sed. Fugiat debitis a minus omnis natus, similique nemo explicabo sunt consectetur sed assumenda cumque unde illo rem nihil placeat aliquam quo ab ut molestiae necessitatibus! Magnam cupiditate beatae autem et! Consequuntur quidem aliquid, cum animi quasi quisquam eos quia iure temporibus quam numquam, praesentium veniam ducimus delectus eligendi accusantium fugiat, officiis provident. Impedit laudantium magnam qui, dignissimos iste ipsum esse blanditiis nostrum ducimus quisquam modi doloremque, provident facilis incidunt sequi quis.</p>
    <p class="about-subtitle lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita magni voluptatum ducimus, dicta sequi vitae modi iure, rerum id illo repellat dolorem error impedit quae sit dolor assumenda sed. Fugiat debitis a minus omnis natus, similique nemo explicabo sunt consectetur sed assumenda cumque unde illo rem nihil placeat aliquam quo ab ut molestiae necessitatibus! Magnam cupiditate beatae autem et! Consequuntur quidem aliquid, cum animi quasi quisquam eos quia iure temporibus quam numquam, praesentium veniam ducimus delectus eligendi accusantium fugiat, officiis provident. Impedit laudantium magnam qui, dignissimos iste ipsum esse blanditiis nostrum ducimus quisquam modi doloremque, provident facilis incidunt sequi quis.</p>
  </div>
  <div class="about-image px-5">
    <img src="assets/images/stock_app.png" class="img-fluid mb-4" alt="Example image" loading="lazy">
  </div>
</div>
<div class="about-transition row"></div>
<app-target></app-target>
