.about-title {
  color: #0196C1;
  font-size: 3rem;
}

.about-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.about-image img {
  height: 700px;
}

.about-transition {
  height: 400px;
  margin-top: -400px;
  background-color: #cbeaf4;
}
