<div class="container ps-5" id="explore">
  <div class="explore-content row justify-content-start mb-5">
    <div class="module col-md-3 col-sm-12 mb-5">
      <a routerLink="/pages/article/module-1"><img src="https://academy-content.stockbit.com/uploaded-images/7f75e7d7-c5a0-4932-a848-a33064caad82.jpg" alt="" class="module-images rounded"></a>
      <div class="module-header module-1 mt-3">Module 1</div>
      <a routerLink="/pages/article/module-1"><h3 class="module-title">Basic Pasar Modal</h3></a>
      <p class="module-subtitle">5 Chapters</p>
    </div>
    <div class="module col-md-3 col-sm-12 mb-5">
      <img src="https://academy-content.stockbit.com/uploaded-images/7ea8c825-c837-4e08-98a4-799eee73e2fe.jpg" alt="" class="module-images rounded">
      <div class="module-header module-2 mt-3">Module 2</div>
      <h3 class="module-title">Memahami Laporan Keuangan</h3>
      <p class="module-subtitle">5 Chapters</p>
    </div>
    <div class="module col-md-3 col-sm-12 mb-5">
      <img src="https://academy-content.stockbit.com/uploaded-images/397050c3-e5ee-44bb-a866-dfa69c1f0b9b.jpg" alt="" class="module-images rounded">
      <div class="module-header module-3 mt-3">Module 3</div>
      <h3 class="module-title">Fundamental Analysis</h3>
      <p class="module-subtitle">6 Chapters</p>
    </div>
    <div class="module col-md-3 col-sm-12 mb-5">
      <img src="https://academy-content.stockbit.com/uploaded-images/4f3d52aa-b890-4cc1-a1e6-b51306934327.jpg" alt="" class="module-images rounded">
      <div class="module-header module-4 mt-3">Module 4</div>
      <h3 class="module-title">Sektor Bank 101</h3>
      <p class="module-subtitle">3 Chapters</p>
    </div>
    <div class="module col-md-3 col-sm-12 mb-5">
      <img src="https://academy-content.stockbit.com/uploaded-images/58a52bac-0f40-424e-8f98-9c5c97c0e729.jpg" alt="" class="module-images rounded">
      <div class="module-header module-5 mt-3">Module 5</div>
      <h3 class="module-title">Sektor Properti 101</h3>
      <p class="module-subtitle">5 Chapters</p>
    </div>
    <div class="module col-md-3 col-sm-12 mb-5">
      <img src="https://academy-content.stockbit.com/uploaded-images/8cf3d56e-b2d6-4b8e-a0ad-c758a1c4d0ee.jpg" alt="" class="module-images rounded">
      <div class="module-header module-6 mt-3">Module 6</div>
      <h3 class="module-title">Sektor Teknologi 101</h3>
      <p class="module-subtitle">6 Chapters</p>
    </div>
    <div class="module col-md-3 col-sm-12 mb-5">
      <img src="https://academy-content.stockbit.com/uploaded-images/fefba6bc-56bc-4743-8167-9227a03e3cb2.jpg" alt="" class="module-images rounded">
      <div class="module-header module-7 mt-3">Module 7</div>
      <h3 class="module-title">Technical Analysis 101</h3>
      <p class="module-subtitle">5 Chapters</p>
    </div>
    <div class="module col-md-3 col-sm-12 mb-5">
      <img src="https://academy-content.stockbit.com/uploaded-images/1d27c1ea-9a15-4cfb-8636-15313cea607a.jpg" alt="" class="module-images rounded">
      <div class="module-header module-8 mt-3">Module 8</div>
      <h3 class="module-title">Sektor Consumer Staples 101</h3>
      <p class="module-subtitle">3 Chapters</p>
    </div>
    <div class="module col-md-3 col-sm-12 mb-5">
      <img src="https://academy-content.stockbit.com/uploaded-images/9e873559-82ed-4f51-b5c9-873fe5e6122a.jpg" alt="" class="module-images rounded">
      <div class="module-header module-9 mt-3">Module 9</div>
      <h3 class="module-title">Technical Analysis intermediate Level</h3>
      <p class="module-subtitle">6 Chapters</p>
    </div>
    <div class="module col-md-3 col-sm-12 mb-5">
      <img src="https://academy-content.stockbit.com/uploaded-images/d2650e27-e0eb-4d05-b32f-3a8a1d0aeded.jpg" alt="" class="module-images rounded">
      <div class="module-header module-10 mt-3">Module 10</div>
      <h3 class="module-title">Sektor Retail 101</h3>
      <p class="module-subtitle">3 Chapters</p>
    </div>
  </div>
</div>
