<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="module col-md-7 col-sm-12 border p-4 me-5">
      <div class="module-header module-1">Module 1</div>
      <h1 class="module-title mb-4">Basic Pasar Modal Chapter 1</h1>
      <img src="https://academy-content.stockbit.com/uploaded-images/7f75e7d7-c5a0-4932-a848-a33064caad82.jpg" alt="" class="module-images rounded mb-4 d-block mx-auto">
      <p class="module-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis facilis libero cupiditate nulla similique at voluptate alias totam saepe. Rerum facilis voluptate magni libero excepturi provident, quod quam deserunt cum blanditiis quibusdam facere labore ipsum nobis nulla autem veritatis quo voluptatum recusandae quia possimus modi odit placeat aspernatur. Iste qui consequatur possimus ipsam cupiditate aperiam voluptatem at! Iure vitae labore dignissimos sunt? Fuga asperiores praesentium, blanditiis molestias labore possimus cupiditate fugit animi. Veniam porro in suscipit quis dolor veritatis, doloremque excepturi tempore rerum praesentium optio, eum fuga nemo beatae quidem laborum minus nisi minima! Dolores quasi iste totam neque cupiditate.</p>
      <p class="module-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis facilis libero cupiditate nulla similique at voluptate alias totam saepe. Rerum facilis voluptate magni libero excepturi provident, quod quam deserunt cum blanditiis quibusdam facere labore ipsum nobis nulla autem veritatis quo voluptatum recusandae quia possimus modi odit placeat aspernatur. Iste qui consequatur possimus ipsam cupiditate aperiam voluptatem at! Iure vitae labore dignissimos sunt? Fuga asperiores praesentium, blanditiis molestias labore possimus cupiditate fugit animi. Veniam porro in suscipit quis dolor veritatis, doloremque excepturi tempore rerum praesentium optio, eum fuga nemo beatae quidem laborum minus nisi minima! Dolores quasi iste totam neque cupiditate.</p>
      <p class="module-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis facilis libero cupiditate nulla similique at voluptate alias totam saepe. Rerum facilis voluptate magni libero excepturi provident, quod quam deserunt cum blanditiis quibusdam facere labore ipsum nobis nulla autem veritatis quo voluptatum recusandae quia possimus modi odit placeat aspernatur. Iste qui consequatur possimus ipsam cupiditate aperiam voluptatem at! Iure vitae labore dignissimos sunt? Fuga asperiores praesentium, blanditiis molestias labore possimus cupiditate fugit animi. Veniam porro in suscipit quis dolor veritatis, doloremque excepturi tempore rerum praesentium optio, eum fuga nemo beatae quidem laborum minus nisi minima! Dolores quasi iste totam neque cupiditate.</p>
    </div>
    <div class="col-md-3 col-sm-12 pt-0 p-3 ms-5">
      <div class="module-side row mt-3">
        <a routerLink="/pages/article/module-1"><h3 class="module-side-title mb-3">Basic Pasar Modal Chapter 1</h3></a>
        <a routerLink="/pages/article/module-1"><img src="https://academy-content.stockbit.com/uploaded-images/7f75e7d7-c5a0-4932-a848-a33064caad82.jpg" alt="" class="module-side-images rounded mb-3"></a>
      </div>
      <div class="module-side row mt-3">
        <a routerLink="/pages/article/module-1"><h3 class="module-side-title mb-3">Basic Pasar Modal Chapter 2</h3></a>
        <a routerLink="/pages/article/module-1"><img src="https://academy-content.stockbit.com/uploaded-images/7f75e7d7-c5a0-4932-a848-a33064caad82.jpg" alt="" class="module-side-images rounded mb-3"></a>
      </div>
      <div class="module-side row mt-3">
        <a routerLink="/pages/article/module-1"><h3 class="module-side-title mb-3">Basic Pasar Modal Chapter 3</h3></a>
        <a routerLink="/pages/article/module-1"><img src="https://academy-content.stockbit.com/uploaded-images/7f75e7d7-c5a0-4932-a848-a33064caad82.jpg" alt="" class="module-side-images rounded mb-3"></a>
      </div>
      <div class="module-side row mt-3">
        <a routerLink="/pages/article/module-1"><h3 class="module-side-title mb-3">Basic Pasar Modal Chapter 4</h3></a>
        <a routerLink="/pages/article/module-1"><img src="https://academy-content.stockbit.com/uploaded-images/7f75e7d7-c5a0-4932-a848-a33064caad82.jpg" alt="" class="module-side-images rounded mb-3"></a>
      </div>
      <div class="module-side row mt-3">
        <a routerLink="/pages/article/module-1"><h3 class="module-side-title mb-3">Basic Pasar Modal Chapter 5</h3></a>
        <a routerLink="/pages/article/module-1"><img src="https://academy-content.stockbit.com/uploaded-images/7f75e7d7-c5a0-4932-a848-a33064caad82.jpg" alt="" class="module-side-images rounded mb-3"></a>
      </div>
    </div>
  </div>
</div>
