.module-images {
  width: 80%;
}

.module-header {
  border-radius: 4px;
  color: rgb(51, 51, 51);
  padding: 4px 10px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  max-width: 90px;
  line-height: 20px;
}

.module-1 {
  background: rgb(180, 228, 162);
}

.module-2 {
  background: rgb(243, 174, 187);
}

.module-3 {
  background: rgb(252, 239, 136);
}

.module-4 {
  background: rgb(177, 176, 248);
}

.module-5 {
  background: rgb(192, 237, 248);
}

.module-6 {
  background: rgb(248, 213, 213);
}

.module-7 {
  background: rgb(250, 228, 192);
}

.module-8 {
  background: rgb(153, 210, 199);
}

.module-9 {
  background: rgb(180, 228, 162);
}

.module-10 {
  background: rgb(243, 174, 187);
}

.module-title {
  margin: 2px 0px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 22px;
  color: rgb(51, 51, 51);
}

.module-subtitle {
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(150, 150, 150);
}

.module-body {
  text-align: justify;
}

.module a {
  text-decoration: none;
}

.module-side-header {
  border-radius: 4px;
  color: rgb(51, 51, 51);
  padding: 4px 10px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  max-width: 90px;
  line-height: 20px;
}

.module-side-images {
  width: 80%;
}

.module-side-title {
  margin: 2px 0px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 22px;
  color: rgb(51, 51, 51);
}

.module-side a {
  text-decoration: none;
}
